@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background: linear-gradient(to right, #8b0c27, #79384d, #5e414e);
  min-height: 100vh;
  background-attachment: fixed;
}

/* #ca00e0 #8e2de2 */
